.name_and_link{
  width: 419px;
  margin-bottom: 35px;
}
.name_header{
  font-size: 64px;
  text-shadow: 0 3px 4px #c4c4c4;
  margin-bottom: 25px;
}
.social_link_wrap, a{
  text-decoration: none;
  color: #0038FF;
  font-size: 15px;
}
.social_link_img{
  margin-right: 5px;
}

.information{
  margin-bottom: 20px;
}
.information_list{
  padding-left: 0;
}
.information_list_item{
  color: #616161;
  font-size: 13px;
}

.portfolio{
  margin-bottom: 55px;
}
.portfolio_paragraph{
  color: #616161;
  margin-bottom: 50px;
}
.portfolio_card :hover{
  background: #0038FF;
  color: #fff;
}
.card{
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 20px 10px #c4c4c4; 
}
.portfolio_card_link{
  padding: 160px 215px 31px 24px;
  font-weight: 500;
  font-size: 30px;
  opacity: 40%;
}
.portfolio_card_link_wraper :hover{
  background: #0038ff;
  opacity: 100;
  color: #fff;
  box-shadow: none;
}
.technologies_header{
  margin-bottom: 36px;
}
.technologies_list_item{
  color: #616161;
}
