.name_and_link{
  width: 419px;
  margin-bottom: 35px;
}
.name_header{
  font-size: 64px;
  text-shadow: 0 3px 4px #c4c4c4;
margin-bottom: 25px;
}
.social_link_wrap, a{
  text-decoration: none;
  color: #0038FF;
  font-size: 15px;
}
.social_link_img{
  margin-right: 5px;
}
